db.sqlite3
.vercel



git init
git add --all
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Akanmu01/p2pwallet.git
git push -u origin main



SECRET_KEY = 'w+$mxf#dx87f$*3nut6vnma*9uk6x#d_qo8@wffv^+@l$w=v'
FLW_PUB_KEY = "FLWPUBK_TEST-a0666fd92afc005feb8725a5364e3157-X"
FLW_SEC_KEY = "FLWSECK_TEST-afbb6778d2b9fc007b0ab9aa76d2b3e3-X"
DEBUG = True





'postgres://p2pwallet:YMD114tFWkAPWW07IGtBW0BNKYCtemV6@dpg-ceiq0t4gqg4dlfcmnqgg-a.oregon-postgres.render.com/p2pwallet',
